body
{
  background-color: #62D99C;
  font-family: 'Ubuntu', sans-serif;
  color: #303030;
}

.container {
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
 padding: 0px 20px 20px 20px;
 /*border: 1px dotted black;*/
}

th {
 text-align: left;
}

.picture{
  width: auto;
  float: left;
  background-color: #00B358;
  margin: 10px;
  border-radius: 10px;
}

.picture h2{
  text-align: center;
  margin: 5px;
}

.picture img{
  margin: 5px;
}

.header
{
  background-color: #FF3D00;
  padding: 15px;
  height: 30px;
}

.header h2
{
  margin: 0px;
}

.align-right
{
  text-align: right;
}

.align-left
{
  float: left;
  text-align: left;
}

.align-center
{
  text-align: center;
}

.no-margin
{
  margin: 0px;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

.spinning {
  -webkit-animation: spin 1.5s cubic-bezier(0.25,0.1,0.25,1);
  -moz-animation: spin 1.5s cubic-bezier(0.25,0.1,0.25,1);

}