<div class="container">
  <% if @user %>
  <div class="align-center">
    <h3>New Pic</h3>
    <form id="new-post-form">
      <input type="text" name="title" placeholder="Title">
      <br>
      <input type="text" name="url" placeholder="URL">
      <br>
      <input type="submit" value="Post!">
    </form>
  </div>
  <% end %>
    <div class="pics">
    </div>
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/controllers/picture-controller.js"></script>
<script type="text/javascript" src="/js/models/categories.js"></script>
<script type="text/javascript" src="/js/models/picture.js"></script>
<script type="text/javascript" src="/js/views/picture-view.js"></script>
<script src="/js/application.js"></script>
