<div class="container">
  <h2>Spinterest</h2>

    <h2>Pictures</h2>
    <div class="pics">
    </div>
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/controllers/picture-controller.js"></script>
<script type="text/javascript" src="/js/models/categories.js"></script>
<script type="text/javascript" src="/js/models/picture.js"></script>
<script type="text/javascript" src="/js/views/picture-view.js"></script>
<script src="/js/application.js"></script>
